.container {
    position: absolute;
    top: 25%;
    left: 25%;
    align-items: center;
}

.item {
    display: inline-block;
    font-size: 45px;
    background-color: white;
    border: 10px solid;
    border-color: black;
    text-align: center;
    height: 150px;
    width: 150px;
}

#res {
    display: block;
    position: absolute;
    margin: auto auto;
    font-weight: bold;
    font-size: 50px;
    bottom: 40%;
    left: 45%;
}

button {
    display: flex;
    margin: auto auto;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
}

#timeout {
    font-size: 30px;
    margin-left: 300px;
}